:root {
	--table-border-color: #b8c2cc;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

table {
	width: 100%;
	border-collapse: collapse;
}
th, td{
	border-bottom: solid 1px var(--table-border-color);
	text-align: left;
	padding: .75rem;
	vertical-align: top;
}
thead th {
	vertical-align: bottom;
	border-bottom: 2px solid var(--table-border-color);
	font-weight: bold;
}
.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: rgba(0,0,0,.05);
}
